body {
  margin: 0;
  height: 100vh;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
pre {
  font-family: "JetBrainsMonoNL NFM", "Roboto";
}
